.fight-title {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 80px;
}

.fighting-title {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
}

.fighting-result-text {
    position: absolute;
    cursor:pointer;
    padding-top: 1.5vw;
    left: 45%;
    top: 50%;
    width: 12vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}
.fighting-spinner {
    margin-top: 5em;
}

.fighting-spinner-text {
    margin-top: 1em;
    display: block;
}

.fightresult-home {
    position: absolute;
    left: 45%;
    top: 15%;
    color: #fff;
    text-decoration: none;
    background-color: #FE7427;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 8%;
    height: 5%;
}

.fightresult-critical {
    width: 40%;
    margin-top: 7em;
    margin-right: 18em;
}

.fight-fight{
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
}

.fightresult-scroll-rewardbutton {
    position: absolute;
    cursor:pointer;
    padding-top: 1.5vw;
    left: 43%;
    top: 55%;
    width: 14vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

.fightresult-scroll-reward{
    position: absolute;
    padding-top: 1.5vw;
    left: 45%;
    top: 55%;
    width: 10vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #32d635e7;
    color:  #ffffff;
}

.fight-left-image {
    position: absolute;
    left: 14%;
    top: 44%;
    width: 15vw;
    height: 18vw;
    transform: scaleX(-1);
}

.fight-left-name {
    position: absolute;
    left: 16%;
    top: 29%;
}

.fighting-left-swordimage {
    position: absolute;
    left: 7%;
    top: 32%;
    width: 28vw;
    height: 31vw;
    transform: scaleX(-1);
}

.fighting-left-bowimage {
    position: absolute;
    left: 13%;
    top: 42%;
    width: 18vw;
    height: 20vw;
    transform: scaleX(-1);
}

.fighting-left-staffimage {
    position: absolute;
    left: 9%;
    top: 36%;
    width: 24vw;
    height: 27vw;
    transform: scaleX(-1);
}

.fighting-left-polearmimage {
    position: absolute;
    left: 10%;
    top: 40%;
    width: 25vw;
    height: 25vw;
    transform: scaleX(-1);
}

.fighting-left-name {
    position: absolute;
    left: 16%;
    top: 29%;
}

.fightresult-left-image {
    position: absolute;
    left: 13%;
    top: 44%;
    width: 15vw;
    height: 18vw;
    transform: scaleX(-1);
}

.fightresult-left-name {
    position: absolute;
    left: 16%;
    top: 29%;
}

.fightresult-left-result {
    position: absolute;
    left: 14%;
    top: 10%;
    width: 180px;
    height: 60px;
}

.fightresult-left-token {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 47%;
    top: 45%;
    animation: left-item-ani 3s;
    animation-fill-mode: both;
}

.fightresult-left-paper {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 47%;
    top: 55%;
    animation: left-item-ani 3s;
    animation-fill-mode: both;
}

.weapon-left {
    position: absolute;
    cursor:pointer;
    padding-top: 3vw;
    left: 14%;
    top: 10%;
    width: 15vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

.fight-right-image {
    position: absolute;
    left: 71%;
    top: 44%;
    width: 15vw;
    height: 18vw;
}

.fight-right-name {
    position: absolute;
    left: 71%;
    top: 29%;
}

.fighting-right-swordimage {
    position: absolute;
    left: 62%;
    top: 32%;
    width: 28vw;
    height: 31vw;
}

.fighting-right-bowimage {
    position: absolute;
    left: 67%;
    top: 42%;
    width: 18vw;
    height: 20vw;
}

.fighting-right-staffimage {
    position: absolute;
    left: 64%;
    top: 36%;
    width: 24vw;
    height: 27vw;
}

.fighting-right-polearmimage {
    position: absolute;
    left: 64%;
    top: 40%;
    width: 25vw;
    height: 25vw;
}

.fighting-right-name {
    position: absolute;
    left: 71%;
    top: 29%;
}

.fightresult-right-image {
    position: absolute;
    left: 70%;
    top: 44%;
    width: 15vw;
    height: 18vw;
}

.fightresult-right-name {
    position: absolute;
    left: 71%;
    top: 29%;
}

.fightresult-right-result {
    position: absolute;
    left: 69%;
    top: 10%;
    width: 180px;
    height: 60px;
}

.fightresult-right-token {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 47%;
    top: 45%;
    animation: right-item-ani 3s;
    animation-fill-mode: both;
}

.fightresult-right-paper {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 47%;
    top: 55%;
    animation: right-item-ani 3s;
    animation-fill-mode: both;
}

.weapon-right {
    position: absolute;
    padding-top: 3vw;
    left: 69%;
    top: 10%;
    width: 15vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

@keyframes left-item-ani {
    0% { transform: translate(0,0);}
    100% { transform: translate(-200px, 0);}
}

@keyframes right-item-ani {
    0% { transform: translate(0,0);}
    100% { transform: translate(200px, 0);}
}