.fight-title {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 80px;
}

.fighting-title {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
}

.fighting-result-text {
    position: absolute;
    cursor:pointer;
    padding-top: 1.5vw;
    left: 45%;
    top: 50%;
    width: 12vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}
.fighting-spinner {
    margin-top: 5em;
}

.fighting-spinner-text {
    margin-top: 1em;
    display: block;
}

.fightresult-home {
    position: absolute;
    left: 45%;
    top: 15%;
    color: #fff;
    text-decoration: none;
    background-color: #FE7427;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 8%;
    height: 5%;
}

.fightresult-critical {
    width: 40%;
    margin-top: 7em;
    margin-right: 18em;
}

.fight-fight{
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
}

.fightresult-scroll-rewardbutton {
    position: absolute;
    cursor:pointer;
    padding-top: 1.5vw;
    left: 45%;
    top: 63%;
    width: 10vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

.fightresult-scroll-reward{
    position: absolute;
    padding-top: 1.5vw;
    left: 45%;
    top: 63%;
    width: 10vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #32d635e7;
    color:  #ffffff;
}

.fight-left-image {
    position: absolute;
    left: 4%;
    top: 36%;
    transform: scaleX(-1);
}

.fight-left-name {
    position: absolute;
    left: 17%;
    top: 29%;
}

.fighting-left-image {
    position: absolute;
    left: 4%;
    top: 36%;
    transform: scaleX(-1);
}

.fighting-left-name {
    position: absolute;
    left: 17%;
    top: 29%;
}

.fightresult-left-image {
    position: absolute;
    left: 4%;
    top: 36%;
    transform: scaleX(-1);
}

.fightresult-left-name {
    position: absolute;
    left: 17%;
    top: 29%;
}

.fightresult-left-result {
    position: absolute;
    left: 17%;
    top: 10%;
    width: 180px;
    height: 60px;
}

.fightresult-left-token {
    position: absolute;
    left: 47%;
    top: 45%;
    animation: left-item-ani 3s;
    animation-fill-mode: both;
}

.fightresult-left-paper {
    position: absolute;
    left: 47%;
    top: 55%;
    animation: left-item-ani 3s;
    animation-fill-mode: both;
}

.weapon-left {
    position: absolute;
    left: 14%;
    top: 10%;
    color: #fff;
    text-decoration: none;
    background-color: #FE7427;
    padding-top: 1.1em;
    padding-bottom: 0.1em;
    width: 15%;
    height: 10%;
}

.fight-right-image {
    position: absolute;
    left: 68%;
    top: 35%;
}

.fight-right-name {
    position: absolute;
    left: 72%;
    top: 29%;
}

.fighting-right-image {
    position: absolute;
    left: 60%;
    top: 35%;
}

.fighting-right-name {
    position: absolute;
    left: 72%;
    top: 29%;
}

.fightresult-right-image {
    position: absolute;
    left: 66%;
    top: 35%;
}

.fightresult-right-name {
    position: absolute;
    left: 72%;
    top: 29%;
}

.fightresult-right-result {
    position: absolute;
    left: 73%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
}

.fightresult-right-token {
    position: absolute;
    left: 47%;
    top: 45%;
    animation: right-item-ani 3s;
    animation-fill-mode: both;
}

.fightresult-right-paper {
    position: absolute;
    left: 47%;
    top: 55%;
    animation: right-item-ani 3s;
    animation-fill-mode: both;
}

.weapon-right {
    position: absolute;
    left: 69%;
    top: 10%;
    color: #fff;
    text-decoration: none;
    background-color: #FE7427;
    padding-top: 1.1em;
    padding-bottom: 0.1em;
    width: 15%;
    height: 10%;
}

@keyframes left-item-ani {
    0% { transform: translate(0,0);}
    100% { transform: translate(-200px, 0);}
}

@keyframes right-item-ani {
    0% { transform: translate(0,0);}
    100% { transform: translate(200px, 0);}
}