.fight-title {
    position: absolute;
    left: 46vw;
    top: 23vw;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: #fe7227e7;
}


.fighting-result-text {
    position: absolute;
    cursor:pointer;
    padding-top: 1.5vw;
    font-size: 2vw;
    left: 43vw;
    top: 32vw;
    height: 3.5vw;
    width: 13vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}
.fighting-spinner {
    margin-top: 10vw;
    height: 20vw;
}

.fighting-spinner-text {
    margin-top: 1vw;
    font-size: 2vw;
    display: block;
}

.fightresult-home {
    position: absolute;
    left: 46vw;
    top: 10vw;
    color: #fff;
    font-size: 2vw;
    text-decoration: none;
    background-color: #FE7427;
    padding-top: 1.5vw;
    padding-bottom: 0.5vw;
    width: 8vw;
    height: 4vw;
}

.fightresult-critical {
    position: absolute;
    width: 30vw;
    height: 25vw;
    left: 17vw;
    top: 16vw;
}

.fight-fight{
    position: absolute;
    left: 40vw;
    top: 32vw;
    height: 10vw;
}

.fightresult-scroll-rewardbutton {
    position: absolute;
    cursor:pointer;
    padding-top: 1.5vw;
    font-size: 2vw;
    left: 46vw;
    top: 34vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

.fightresult-scroll-reward{
    position: absolute;
    padding-top: 1.5vw;
    font-size: 2vw;
    left: 46vw;
    top: 34vw;
    height: 3.5vw;
    border-radius: 1vw;
    background-color: #32d635e7;
    color:  #ffffff;
}

.fight-left-image {
    position: absolute;
    left: 14vw;
    top: 25vw;
    height: 18vw;
    transform: scaleX(-1);
}

.fight-left-name {
    position: absolute;
    left: 15vw;
    top: 17vw;
}

.fighting-left-swordimage {
    position: absolute;
    left: 6vw;
    top: 19vw;
    height: 31vw;
    transform: scaleX(-1);
}

.fighting-left-bowimage {
    position: absolute;
    left: 12vw;
    top: 24vw;
    height: 20vw;
    transform: scaleX(-1);
}

.fighting-left-staffimage {
    position: absolute;
    left: 9vw;
    top: 21vw;
    height: 27vw;
    transform: scaleX(-1);
}

.fighting-left-polearmimage {
    position: absolute;
    left: 10vw;
    top: 23vw;
    height: 25vw;
    transform: scaleX(-1);
}

.fighting-left-name {
    position: absolute;
    left: 15vw;
    top: 17vw;
}

.fightresult-left-image {
    position: absolute;
    left: 13vw;
    top: 25vw;
    height: 18vw;
    transform: scaleX(-1);
}

.fightresult-left-name {
    position: absolute;
    left: 15vw;
    top: 17vw;
}

.fightresult-left-win {
    position: absolute;
    left: 13vw;
    top: 5vw;
    font-size: 8vw;
    font-weight: bold;
    color: #32d635e7;
}

.fightresult-left-lose {
    position: absolute;
    left: 13vw;
    top: 5vw;
    font-size: 8vw;
    font-weight: bold;
    color: #fe7227e7;
}

.fightresult-left-token {
    position: absolute;
    height: 4vw;
    left: 47vw;
    top: 26vw;
    animation: left-item-ani 3s;
    animation-fill-mode: both;
}

.fightresult-left-paper {
    position: absolute;
    height: 4vw;
    left: 47vw;
    top: 33vw;
    animation: left-item-ani 3s;
    animation-fill-mode: both;
}

.weapon-left {
    position: absolute;
    padding-top: 3vw;
    font-size: 2vw;
    left: 14vw;
    top: 6vw;
    width: 15vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

.fight-right-image {
    position: absolute;
    left: 71vw;
    top: 25vw;
    height: 18vw;
}

.fight-right-name {
    position: absolute;
    left: 69vw;
    top: 17vw;
}

.fighting-right-swordimage {
    position: absolute;
    left: 63vw;
    top: 19vw;
    height: 30vw;
}

.fighting-right-bowimage {
    position: absolute;
    left: 70vw;
    top: 24vw;
    height: 20vw;
}

.fighting-right-staffimage {
    position: absolute;
    left: 66vw;
    top: 21vw;
    height: 26vw;
}

.fighting-right-polearmimage {
    position: absolute;
    left: 62vw;
    top: 23vw;
    height: 25vw;
}

.fighting-right-name {
    position: absolute;
    left: 69vw;
    top: 17vw;
}

.fightresult-right-image {
    position: absolute;
    left: 70vw;
    top: 25vw;
    height: 18vw;
}

.fightresult-right-name {
    position: absolute;
    left: 69vw;
    top: 17vw;
}

.fightresult-right-win {
    position: absolute;
    left: 65vw;
    top: 5vw;
    font-size: 8vw;
    font-weight: bold;
    color: #32d635e7;
}

.fightresult-right-lose {
    position: absolute;
    left: 65vw;
    top: 5vw;
    font-size: 8vw;
    font-weight: bold;
    color: #fe7227e7;
}

.fightresult-right-token {
    position: absolute;
    height: 4vw;
    left: 47vw;
    top: 26vw;
    animation: right-item-ani 3s;
    animation-fill-mode: both;
}

.fightresult-right-paper {
    position: absolute;
    height: 4vw;
    left: 47vw;
    top: 33vw;
    animation: right-item-ani 3s;
    animation-fill-mode: both;
}

.weapon-right {
    position: absolute;
    padding-top: 3vw;
    font-size: 2vw;
    left: 69vw;
    top: 6vw;
    width: 15vw;
    height: 5vw;
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
}

@keyframes left-item-ani {
    0% { transform: translate(0,0);}
    100% { transform: translate(-17vw, 0);}
}

@keyframes right-item-ani {
    0% { transform: translate(0,0);}
    100% { transform: translate(17vw, 0);}
}