.home-container {
    display: flex;
    justify-self: flex-end;
    margin-top: calc(100vw * 73/620);
    height: calc(100vw * 110/620);
    flex-direction: column;
}

.my-character {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    align-self: center;
    transform: scaleX(-1) scale(1);
}

.home-container .username-container {
    height: calc(100vw * 60/620);
}

.home-container .username-container .username {
    font-size: calc(100vw * 12/620);
    font-weight: bold;
    cursor: pointer;
    font-size: 2.4vw;
}

.home-container .username-container .address {
    color: #245effdd;
    font-size: calc(100vw * 12/620);
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.1vw;
}

.home-container .username-container:hover .username {
    color: #245effdd;
    text-decoration: underline;
    text-decoration-color: #245effdd;
    text-decoration-thickness: 0.12vw;
}

.home-container .username-container:hover .address {
    color: #245effdd;
    text-decoration: underline;
    text-decoration-color: #245effdd;
    text-decoration-thickness: 0.12vw;
}

.home-fight{
    position: absolute;
    left: 84vw;
    top: 41vw;
    transform: translate(-50%, -50%);
}

.home-fightimg{
    width: 21vw;
}

.mydata {
    position: absolute;
    left: 5vw;
    top: 13vw;
    width: 24vw;
    height: 30vw;
    /* align-self: flex-start; */
    padding: 2vw;
    font-size: calc(100vw * 10/620);
    text-align: left;
    background-color: rgba( 240, 190, 100, 0.7 );

    border-radius: 10%;
}

.metadata {
    word-wrap: break-word;
    opacity: 1;
    font-size: 1.8vw;
}

.line {
    margin-top: 0.4vw;
}

.line2 {
    text-align: center;
    margin-top: 1.5vw;
    font-size: 2vw;
    margin-bottom:1vw;
}