.home-container {
    display: flex;
    justify-self: flex-end;
    margin-top: calc(100vw * 76/620);
    height: calc(100vw * 110/620);
    flex-direction: column;
}

.my-character {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    align-self: flex-end;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.username {
    font-size: calc(100vw * 12/620);
    height: calc(100vw * 20/620);
}

.home-fight{
    position: absolute;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.home-fightimg{
    width: 250px;
    height: 110px;
}
