.home-container {
    display: flex;
    justify-self: flex-end;
    margin-top: calc(100vw * 76/620);
    height: calc(100vw * 110/620);
    flex-direction: column;
}

.my-character {
    display: flex;
    height: calc(100vw * 40/320);
    min-height: 100%;
    max-height: 100%;
    align-self: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.username {
    font-size: calc(100vw * 12/620);
    height: calc(100vw * 60/620);
    font-weight: bold;
}

.home-fight{
    position: absolute;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.home-fightimg{
    width: 250px;
    height: 110px;
}

.mydata {
    position: absolute;
    left: 5vw;
    top: 13vw;
    width: 24vw;
    height: 30vw;
    /* align-self: flex-start; */
    padding: 2vw;
    font-size: calc(100vw * 10/620);
    text-align: left;
    background-color: rgba( 240, 190, 100, 0.7 );

    border-radius: 10%;
}

.metadata {
    word-wrap: break-word;
    opacity: 1;
    font-size: 1.8vw;
}

.line {
    margin-top: 0.4vw;
}

.line2 {
    text-align: center;
    margin-top: 1.5vw;
    font-size: 2vw;
    margin-bottom:1vw;
}