.inventory-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: calc(100vw * 110/620);
}
/* tap창 관련 */
/* .inven_wrap{
  cursor:pointer;
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 330/620);
  height: calc(100vw * 20/620);
  line-height: calc(100vw * 20/620);
  margin-right: calc(100vw * 220/620);
  margin-bottom: calc(100vw * 180/620);
  border-radius: 1vw;
  color:  #ffffff;
  font-size: calc(100vw * 11/620);
  align-items: center;
} */
.inven_char{
  cursor:pointer;
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 160/620);
  height: calc(100vw * 20/620);
  line-height: calc(100vw * 20/620);
  margin-right: calc(100vw * 390/620);
  margin-bottom: calc(100vw * 180/620);
  border-radius: 1vw;
  color:  #ffffff;
  font-size: calc(100vw * 11/620);
  align-items: center;
}

.inven_weapon{
  cursor:pointer;
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 160/620);
  height: calc(100vw * 20/620);
  line-height: calc(100vw * 20/620);
  margin-right: calc(100vw * 50/620);
  margin-bottom: calc(100vw * 180/620);
  border-radius: 1vw;
  color:  #ffffff;
  font-size: calc(100vw * 11/620);
  align-items: center;
}

.inven_clicked{
  background-color: #fe7227e7;
}
.inven_notclicked{
  background-color: #ffb48bbe;
}
.inven_notclicked:hover{
  background-color: #ff955ce6;
}

/* .inven_wrap{width:50%;height:350px;float:left;margin-top:20px;}
.tabs_is-boxed li{cursor: pointer;} */

/* 캐릭터 창 관련 */
/* .Character_url{width:500px;height:300px;float:left;background: url(https://ifh.cc/g/L7VRHx.png) left top no-repeat;background-size:420px;background-position:45px;background-position-y:60px;} */
/* .Character_url{width:500px;height:300px;float:left;} */
.inventory_pot{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 330/620);
  height: calc(100vw * 178/620);
  margin-top: calc(100vw * 22/620);
  margin-right: calc(100vw * 220/620);
  flex-wrap : wrap;
  overflow: auto;
  align-content: flex-start;
  /* white-space: nowrap; */

  border-radius: 1vw;
  background-color: rgba( 255, 255, 255, 0.8 );
  border-style: solid;
  border-width: 1.2vw;
  border-color: rgba( 255, 255, 255, 0 );
  box-sizing: border-box;
}

.inventory_pot::-webkit-scrollbar {
  width: 1.2vw;
  border-radius: 0.5vw;
}
.inventory_pot::-webkit-scrollbar-thumb {
  background-color: #fe7227e7;
  border-radius: 0.5vw;
  width: 0.7vw;
  background-clip: padding-box;
  border: 0.2vw solid transparent;
}
.inventory_pot::-webkit-scrollbar-track {
  background-color: #fe722765;
  border-radius: 0.5vw;
}

.inventory-container .scan {
  z-index: 100;
  position: absolute;
  top: 39.8vw;
  left: 48.4vw;
  height: 3vw;
  width: 8vw;
  line-height: 3vw;

  background-color: #fe7227e7; 
  border-style: solid;
  border-width: 0.5vw;
  border-color: hsla(35, 100%, 64%, 0.686); 

  color:  #ffffff;
  border-radius: 0.8vw;
  font-size: 1.8vw;
  font-weight: 500;
  cursor: pointer;
}

.inventory-container .myinfo {
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 190/620);
  height: calc(100vw * 20/620);
  line-height: calc(100vw * 20/620);
  margin-left: calc(100vw * 350/620);
  margin-bottom: calc(100vw * 180/620);
  border-radius: 1vw;
  background-color: #fe7227e7;
  color:  #ffffff;
  font-size: calc(100vw * 11/620);
  align-items: center;
}
.inventory-container .desc-upgrade{
  background-color: #32d635e7;

}
.inventory-container .selectedUser {
  display:flex;
  flex-direction: column;
  position: absolute;
  width: calc(100vw * 190/620);
  height: calc(100vw * 178/620);
  margin-top: calc(100vw * 22/620);
  margin-left: calc(100vw * 350/620);
  border-radius: 1vw;
  background-color: rgba(255, 240, 212, 0.7);
  font-size: 2vw;
  justify-content: end;
  align-items: center;
}
.inventory-container .background-upgrade{
  background-color: rgba(226, 255, 212, 0.7);

}
.inventory-container .selectedUser .myname {
  position: absolute;
  top: 2vw;
}

.inventory-container .selectedUser .myimg {
  position: relative;
  bottom: 6vw;
  height: 17vw;
  margin-left: 11vw;
}
.inventory-container .selectedUser .mystr {
  margin-top: 0.5vw;
}
.inventory-container .selectedUser .equip {
  position: absolute;
  cursor:pointer;
  right: 17vw;
  bottom: 1vw;
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 1vw;
  background-color: #fe7227e7;
  color:  #ffffff;
}
.inventory-container .selectedUser .cancelUpgrade {
  position: absolute;
  cursor:pointer;
  right: 17vw;
  bottom: 1vw;
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 1vw;
  background-color: #32d635e7;
  color:  #ffffff;
}
.inventory-container .selectedUser .equipped {
  position: absolute;
  right: 17vw;
  bottom: 1vw;
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 1vw;
  background-color: #32d635e7;
  color:  #ffffff;
}

.inventory-container .selectedUser .use {
  position: absolute;
  cursor:pointer;
  right: 3.5vw;
  bottom: 1vw;
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 1vw;
  background-color: #fe7227e7;
  color:  #ffffff;
}

.inventory-container .selectedUser .upgrade {
  position: absolute;
  cursor:pointer;
  right: 3.5vw;
  bottom: 1vw;
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 1vw;
  background-color: #fe7227e7;
  color:  #ffffff;
}

.inventory-container .selectedUser .selected {
  position: absolute;
  left: 1vw;
  top: 5vw;
  width: 16vw;
  height: 12vw;
  font-size: 1.3vw;
  text-align: left;
  word-wrap: break-word;
}

.item-clicked {
  border-width: 0.5vw;
  border-color:#fe722765;
}