.lootbox {
  position:absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  width: 8vw;
  height: 8vw;
  top: 39vw;
  cursor: pointer;
  right: 4vw;
  border-radius: 5vw;
  font-size: 3vw;

  background-color: #2955cdd3; 
  border-style: solid;
  border-width: 0.7vw;
  border-color: hsla(224, 100%, 73%, 0.686); 
}

.inventory-container .market-scan {
  font-size: 2vw;
  background-color: #2955cdd3; 
  border-color: hsla(224, 100%, 73%, 0.686); 
}

.lootbox:hover {
  background-color: #1c44b3e1;
}

.market_button{
  display: flex;
  z-index: 100;
  cursor:pointer;
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 20/620);
  left: 2vw;
  height: 13.5vw;
  border-radius: 1vw;
  color:  #ffffff;
  font-size: 2vw;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.market_buy{
  top: 16.5vw;
}

.market_sell{
  top: 31.7vw;
}

.market_clicked{
  background-color: #245effdd;
}
.market_notclicked{
  background-color: #7c9fffc9;
}
.market_notclicked:hover{
  background-color: #5a86ffcc;
}

.inventory-container .selectedUser .sell {
  position: absolute;
  cursor:pointer;
  right: 17vw;
  bottom: 1vw;
  width: 10vw;
  height: 4vw;
  line-height: 4vw;
  border-radius: 1vw;
  background-color: #245effdd;
  color:  #ffffff;
}

.inventory-container .market_info {
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 190/620);
  height: calc(100vw * 20/620);
  line-height: calc(100vw * 20/620);
  margin-left: calc(100vw * 350/620);
  margin-bottom: calc(100vw * 180/620);
  border-radius: 1vw;
  background-color: #245effdd;
  color:  #ffffff;
  font-size: calc(100vw * 11/620);
  align-items: center;
}

.inventory-container .market_selected {
  /* display:flex;
  flex-direction: column;
  position: absolute;
  width: calc(100vw * 190/620);
  height: calc(100vw * 178/620);
  margin-top: calc(100vw * 22/620);
  margin-left: calc(100vw * 350/620);
  border-radius: 1vw; */
  background-color: rgba( 255, 255, 255, 0.8 );
  /* font-size: 2vw;
  justify-content: end;
  align-items: center; */
}

.inventory-container .market_pot{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: calc(100vw * 330/620);
  height: calc(100vw * 178/620);
  margin-top: calc(100vw * 22/620);
  margin-right: calc(100vw * 220/620);
  flex-wrap : wrap;
  overflow: auto;
  align-content: flex-start;
  /* white-space: nowrap; */

  border-radius: 1vw;
  background-color: rgba( 255, 255, 255, 0.85 );
  border-style: solid;
  border-width: 1.2vw;
  border-color: rgba( 255, 255, 255, 0 );
  box-sizing: border-box;
}

.inventory-container .market_pot::-webkit-scrollbar {
  width: 1.2vw;
  border-radius: 0.5vw;
}
.inventory-container .market_pot::-webkit-scrollbar-thumb {
  background-color: #245effdd;
  border-radius: 0.5vw;
  width: 0.7vw;
  background-clip: padding-box;
  border: 0.2vw solid transparent;
}
.inventory-container .market_pot::-webkit-scrollbar-track {
  background-color: #245eff5c;
  border-radius: 0.5vw;
}

.market-input{
  background-color: white;
  position: absolute;
  margin-bottom: 6vw;
  margin-right: 13vw;
  width: 12vw;
  height: 3vw;
  border-radius: 1vw;
  border: solid;
  border-width: 0.2vw;
  border-color:rgba(102, 102, 102, 0.768);
}

.selectedprice{
  font-size: 1.8vw;
  margin-top: 1vw;
}
.selectedowner{
  font-size: 1.8vw;
  margin-top: 1.5vw;
}