.ranking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    margin-top: calc(100vw * 110/620);
}
.ranking-container .column {
    flex-direction: row;
    position: absolute;
    width: calc(100vw * 330/620);
    height: calc(100vw * 20/620);
    line-height: calc(100vw * 20/620);
    margin-right: calc(100vw * 220/620);
    margin-bottom: calc(100vw * 180/620);
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
    font-size: calc(100vw * 11/620);
    align-items: center;
}
.ranking-container .column .column-rank {
    margin-left: calc(100vw * 30/620);
    margin-right: calc(100vw * 8/620);
}
.ranking-container .column .column-name {
    width: 6vw;
    margin-left: calc(100vw * 30/620);
    margin-right: calc(100vw * 30/620);
}
.ranking-container .column .column-char {
    left:auto;
    right: auto;
    margin-left: calc(100vw * 30/620);
    margin-right: calc(100vw * 30/620);
}
.ranking-container .column .column-str {
    width: 3vw;
    margin-left: calc(100vw * 30/620);
    margin-right: calc(100vw * 30/620);
}
.ranking-container .userList {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: calc(100vw * 330/620);
    height: calc(100vw * 178/620);
    margin-top: calc(100vw * 22/620);
    overflow: auto;
    margin-right: calc(100vw * 220/620);
    border-radius: 1vw;
    background-color: rgba( 255, 255, 255, 0.85 );
    border-style: solid;
    border-width: 1.2vw;
    border-color: rgba( 255, 255, 255, 0 );
    box-sizing: border-box;

}
.ranking-container .userList::-webkit-scrollbar {
    width: 1.2vw;
    border-radius: 0.5vw;
}
.ranking-container .userList::-webkit-scrollbar-thumb {
    background-color: #fe7227e7;
    border-radius: 0.5vw;
    width: 0.8vw;
    background-clip: padding-box;
    border: 0.2vw solid transparent;
}
.ranking-container .userList::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 0.5vw;
}
.ranking-container .mychar {
    flex-direction: row;
    position: absolute;
    width: calc(100vw * 190/620);
    height: calc(100vw * 20/620);
    line-height: calc(100vw * 20/620);
    margin-left: calc(100vw * 350/620);
    margin-bottom: calc(100vw * 180/620);
    border-radius: 1vw;
    background-color: #fe7227e7;
    color:  #ffffff;
    font-size: calc(100vw * 11/620);
    align-items: center;
}

.ranking-container .selectedUser {
    position: absolute;
    width: calc(100vw * 190/620);
    height: calc(100vw * 178/620);
    margin-top: calc(100vw * 22/620);
    margin-left: calc(100vw * 350/620);
    border-radius: 1vw;
    background-color: rgba( 255, 255, 255, 0.85 );
    font-size: 3vw;
}
.ranking-container .selectedUser .myname {
    font-size: 2.3vw;
    margin-top: 1vw;
    cursor: pointer;
}
.ranking-container .selectedUser .myaddress {
    font-size: 1.4vw;
    margin-top: 0.2vw;
    cursor: pointer;
    color: #245effdd;
    font-weight: 600;
}
.ranking-container .selectedUser .myname-container:hover .myname {
    text-decoration: underline;
    text-decoration-thickness: 0.17vw;
}
.ranking-container .selectedUser .myname-container:hover .myaddress {
    text-decoration: underline;
    text-decoration-color: #245effdd;
    text-decoration-thickness: 0.12vw;
}

.ranking-container .selectedUser .myimg {
    /* display:flex; */
    margin-top: -5.5vw;
    /* height: 16vw; */
    /* align-self: center; */
    min-height: 100%;
    max-height: 100%;
    transform: scale(0.55);
}
.ranking-container .selectedUser .mystr {
    margin-top: -7vw;
    font-size: 1.7vw;
}
.ranking-container .selectedUser .myrank {
    font-size: 2.5vw;
    margin-top: 0.5vw;
    color:  #FE7427;
    font-weight: bold;
}