@font-face {
  font-family: 'Maplestory TTF';
  src: local('Maplestory Light'),
    url("./fonts/Maplestory Light.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #fff;
  height: calc(100vw * 9/16 - 100vw * 39/620);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

.background-default {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -95vw;
  background-position-y: -80vw;
  background-size: 330vw auto;
}

.background-mint {
  background-image: url('./assets/background2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -40vw;
  background-position-y: -70vw;
  background-size: 330vw auto;
}

/* .background-default {
  background-image: url('./assets/background3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -55vw;
  background-position-y: -88vw;
  background-size: 250vw auto;
} */

.background-not-logged-in {
  background-image: url('./assets/login.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw auto;
}

.background-market {
  background-image: url('./assets/market.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 54%;
  background-position-y: -21vw;
  background-size: 150vw auto;
}

.background-fight {
  background-image: url('./assets/fight.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 55%;
  background-position-y: -10vw;
  background-size: 190vw auto;
}

.background-ranking {
  background-image: url('./assets/ranking.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 50%;
  background-position-y: -11.5vw;
  background-size: 100vw auto;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  flex-grow: 1;
  background-color: #333;
  width: 100%;
}

.App-footer-text {
  color: #fff;
  font-size: 0.1vw;
}
