.navbar {
    padding-top: calc(100vw * 9/16 * 25/350);
    padding-bottom: calc(100vw * 9/16 * 15/350);
    position: sticky;
    top: 0;
    z-index: 200;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(100vw * 9/16 * 30/350);
    width: calc(100vw - 2*45/620*100vw);
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: calc(100vw * 100/620);
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    margin-right: calc(100vw * 22/620);
    border-radius: 1.2vw;
}
.nav-item-container-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: calc(100vw * 100/620);
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    margin-right: calc(100vw * 32/620);
    border-radius: 1.2vw;
}
.nav-item-container-end-token {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(255, 240, 212, 0.7);
    width: calc(100vw * 120/620);
    height: calc(100vw * 9/16 * 30/550);
    overflow: hidden;
    flex-grow: 1;
    margin-right: calc(40vw * 32/620);
    margin-top: calc(40vw * 15/620);;
    border-radius: 1.2vw;
    font-size: 1.2vw;
}

.nav-item-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: calc(100vw * 30/620);
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    margin-right: calc(100vw * 32/620);
    border-radius: 1.2vw;
}

.nav-item-logout {
    width: 5%;
    cursor: pointer;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    min-width: calc(100vw * 140/620);
    background-color: #FE7427;
    height: 100%;
    font-size: 3vw;
}

.nav-item:hover {
    background-color: #ff955ce6;
}
