.userdata-container {
    display: flex;
    width: calc(100vw * 300/620);
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    flex-direction: row;
    background-color: rgba(255, 215, 151, 0.7);
    margin-top: 0.8vw;
    margin-left:auto;
    margin-right:auto;
    left: auto;
    right: auto;
    border-radius: 1.5vw;
    padding: 0.2vw;
    font-size: calc(100vw * 15/620);
}

.userdata-container:hover {
    background-color: rgba(255, 192, 90, 0.702);
}

.userdata-container .userdata-char {
    /* position: relative; */
    left:auto;
    right: auto;
    height: 8vw;
    margin-left: calc(100vw * 30/620);
    margin-right: auto;;

}

.userdata-container .userdata-name {
    width: 6vw;
    text-align: center;
    margin-left: calc(100vw * 30/620);
    margin-right: auto;
    cursor: pointer;
}
.userdata-container:hover .userdata-name {
    font-weight: bold;
    /* text-decoration: underline;
    text-decoration-thickness: 0.12vw; */
}
.userdata-container .userdata-address {
    margin-top: 0.4vw;
    margin-left: calc(100vw * 30/620);
    font-size: 1.3vw;
    cursor: pointer;
    color: #245effdd;
    font-weight: 600;
}
.userdata-container:hover .userdata-address {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #245effdd;
    text-decoration-thickness: 0.12vw;
}
.userdata-container .userdata-str {
    width: 3vw;
    margin-left: calc(100vw * 30/620);
    margin-right: calc(100vw * 30/620);

}
.userdata-container .userdata-rank {
    margin-left: calc(100vw * 30/620);
    color:  #FE7427;
    font-weight: bold;
}